.banner-bg{
    background-color: #264653
    ;
}
.honda-cbr-btn{
background-color: #E76F51;
}
.honda-cbr-custom-color{
color: #E76F51;
}
/* img-gray-scale */
.img-gray-scale{
    filter: grayscale(100%)
}
.con-bg-color{
   background-color: #BDBDBD;
}
.honda-btn-buy-now{
    background-color: #A52A2A;
}